@model EShopping.Models.Contact

@{
    ViewBag.Title = "Create1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Contact Us</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <span><label>@Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "textbox" } })
                            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span>@Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "" })</span>
                            <span>
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "textbox" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </span>
                        </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "textbox" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "textbox" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "textbox" } })
                            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "textbox" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><label>@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })</label></span>
                            <span>
                                @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </span>
                    </div>
                        <div>
                            <span><input type="submit" value="Submit" class="myButton"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h3>Find Us Here</h3>
                    <div class="map">
                        <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                    </div>
                </div>
                <div class="company_address">
                    <h3>Company Information :</h3>
                    <p>500 Lorem Ipsum Dolor Sit,</p>
                    <p>22-56-2-9 Sit Amet, Lorem,</p>
                    <p>USA</p>
                    <p>Phone:(00) 222 666 444</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <span><a href="#">info@mycompany.com</a></span></p>
                    <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}