@model PagedList.IPagedList<EShopping.Models.News>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>News</h2>
@using (Html.BeginForm())
{
    <p>
        Find by Title or by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<div class="main">
    <div class="content">
@foreach (var item in Model) {
        <div class="image group">
            <div class="grid images_3_of_1">
                @Html.DisplayFor(modelItem => item.NewsImgs)
            </div>
            <div class="grid news_desc">
                <h3>@Html.DisplayFor(modelItem => item.NewTitles) </h3>
                <h4>Posted on Aug 13th, 2013 by <span><a href="#">@Html.DisplayFor(modelItem => item.NewsBy)</a></span></h4>
                <p>@Html.DisplayFor(modelItem => item.NewsDetails)<a href="#" title="more">[....]</a></p>
            </div>
        </div>
}
        <div class="content-pagenation">
            @Html.PagedListPager(Model, page => Url.Action("News",
             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
