@model EShopping.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Details Regions</h2>

<div class="row">

    <div class="col-md-6">
        <p>@Html.DisplayNameFor(model => model.NewTitles): @Html.DisplayFor(model => model.NewTitles)</p>
        <p>@Html.DisplayNameFor(model => model.NewsDetails): @Html.DisplayFor(model => model.NewsDetails) </p>
        <p>@Html.DisplayNameFor(model => model.NewsBy): @Html.DisplayFor(model => model.NewsBy)</p>
    </div>
    <div class="col-md-6">
        <p><img src="~/UploadImg/News/@Model.NewsImgs" class="img-responsive" alt="" /></p>
        <p>@Html.DisplayNameFor(model => model.NewUpdate): @Html.DisplayFor(model => model.NewUpdate)</p>
    </div>

</div>
<p>
    <a href="@Url.Action("Edit", "News", new { id = Model.NewsId })" class="btn btn-default">
        <i class="fa fa-flash"></i>
        <span>

        </span>
    </a>
    |
    <a href="@Url.Action("Index", "News")" class="btn btn-default">
        <i class="fa fa-sort-alpha-desc"></i>
        <span>

        </span>
    </a>
</p>
